.ms-Dialog-header {
    height: 0px;
}
.ms-Dialog-main {
    width: 357px;
    height: 300px;
    display: table;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}
.ms-Dialog-inner {
    padding: 12px 20px;
}
.title {
    font-size: 18px;
    padding: 15px 0 20px 0;
    text-align: center;
    font-weight: 600;
}
.subText {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    line-height: 1.7;
}
.ms-Dialog-actionsRight {
    text-align: center;
}
.errorButton {
    background-color: #0078D4;
    width: 120px;
    height: 36px;
    margin-top: 12px;
    padding: 0 18px;
}
.supportButton {
    height: 36px;
    margin-top: 12px;
    padding: 0 18px;
}
.icon {
    background: url('../../styles/img/error_icon.svg');
    background-repeat: no-repeat;
    -webkit-mask:  url('../../styles/img/error_icon.svg') no-repeat;
    mask: url('../../styles/img/error_icon.svg') no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    height: 45px;
    width: 45px;
    margin: 15px auto 0 auto;
}
.warning-icon {
    background: url('../../styles/img/warning.svg');
    background-repeat: no-repeat;
    -webkit-mask:  url('../../styles/img/warning.svg') no-repeat;
    mask: url('../../styles/img/warning.svg') no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    height: 45px;
    width: 45px;
    margin: 15px auto 0 auto;
}