.hover-wrapper {
    .icon-container {
        position: absolute;
        margin-top: 9px;
        cursor: pointer;
       z-index: 55;
       display: inline-block;     
        .infoIcon {
            background-image: url("../../styles/img/info.svg");
            height: 18px;
            width: 18px;
        } 
        .infoIcon:hover {
            background-image: url("../../styles/img/info-active.svg");
        }
    }
    .icon-container-url {
        float: right;
        right: 0;
        position: absolute;
        margin-top: 9px;
        cursor: pointer;
        z-index: 10;
        height: 18px;
        width: 18px;
        .infoIcon {
            background-image: url("../../styles/img/info.svg");
            height: 18px;
            width: 18px;
            position: absolute
        } 
        .infoIcon:hover {
            background-image: url("../../styles/img/info-active.svg");
        }
    }
}
.urlImageCallout {
    width: 563px;
    height: 240px;
    right: 4% !important;
    .ms-Callout-main {
        width: auto;
        height: 100%;
        overflow-y: hidden;
        align-items: center;
        display: block;
    }
    .ms-Callout-beak {
        right: 37px !important; 
    }
}
.urlImage {
    margin: 0 auto;
    display: block;
    padding-top: 5px;
}
.hovered-text {
    color: #106ebe;
    margin: 0 auto;
    overflow: hidden;
    margin: 11px 0px 12px 20px;
    font-size: 12px;
    line-height: 1.45;
}
.ms-Callout-beak {
    background-color: #deecf9;
}
.ms-Callout-main {
    display: table;
    width: auto;
    height: auto;
    width: 190px;
    height: 75px;
    background-color: #deecf9;
}
