.container {
    transition: opacity .5s;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    .buttonsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        margin: 0 auto;
        align-items: center;
        .ms-Button--default {
            margin : 10px;
            border-width: 2px;
            background-color: white;
            height: 96px;
            .ms-Button-flexContainer {
                width: 500px;
                flex-wrap: wrap;
                .buttonLabel {
                    cursor: pointer;
                    font-size: 18px;
                }
                .buttonImg {
                    margin-right: 20px;
                }
                .buttonImg.office {
                    background: url('../../styles/img/office_logo.svg');
                    background-repeat: no-repeat;
                    height: 32px;
                    width: 27px;
                }
                .buttonImg.sharepoint {
                    background: url('../../styles/img/sharepoint_logo.svg');
                    background-repeat: no-repeat;
                    height: 35px;
                    width: 34px;
                    margin-top: 3px;
                }
            }
        } 
        .ms-Button--default.office:hover {
            background-color: #DC3E15;
            .buttonLabel {
                color: white !important;
            }
            .office {
                background: url('../../styles/img/office_logo_W.svg');
                background-repeat: no-repeat;
            }
        }
        .ms-Button--default.sharepoint:hover {
            background-color: #1672B8;
            .buttonLabel {
                color: white !important;
            }
            .sharepoint {
                background: url('../../styles/img/sharepoint_logo_W.svg');
                background-repeat: no-repeat;
            }
        }
    }
    .notSureLine {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: fixed;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .notSure {
        .icon-container-not-sure {   
            height: 19px;
            width: 19px;
            margin-top: 12px;
            cursor: default;
            float: left;
            .infoIcon {
                background-image: url("../../styles/img/info.svg");
                height: 19px;
                width: 19px;
                position: absolute
            } 
        }
        .link {
            color: #0078D4;
            font-size: 16px;
            cursor: default;
            margin-top: 0px;
            margin-right: 4px;
            margin-bottom: 0px;
            margin-left: 4px;
            line-height: 100%;
            font-family: "Segoe UI";
            padding-top: 13px;
            display: inline-block;
        }
    }
    .notSure:hover {
        .infoIcon {
            background-image: url("../../styles/img/info-active.svg");
        }
    }
}
.notSureCallout {
    z-index: 10; 
    .ms-Callout-main {
        width: 605px;
        height: 260px;
        overflow-y: hidden;
        .notSureImage {
            width: 581px;
            height: 237px;
            margin: 0 auto;
            display: block;
            padding-top: 11px;
        }
    }
    .ms-Callout-beak {
        left: 204px !important;
    }
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
