.window-wrapper {
    margin: 0;
    color: white; 
    height: 100vh;
    .page-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;  
        .url-label {
            margin-left: -50px;
            width: 120%;
            font-size: 16px;
            text-align: center;
        }
        .content-cntainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: fixed;
            top: 32%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0 auto;
            align-items: center;
            .url-field {
                .url-text {
                    width: 100%;
                    .ms-TextField {
                        width: 540px;
                        float: left;
                        .ms-TextField-wrapper {
                            .ms-TextField-fieldGroup {
                                .ms-TextField-field {
                                    color: #0078D4;
                                }
                                .ms-TextField-field:-ms-input-placeholder { //for placeholder text in IE
                                    color: #A1A1A1;
                                }
                            }
                        }
                    }
                    .ms-TextField--underlined.is-active {
                        border-color: rgb(33, 33, 33);
                    }
                }
            }
            .url-container {
                width: 540px;
                display: flex;
                flex-direction: column;
                height: 97px;
            }
            .choice-group {
                top: 105px;
                position: absolute;
                z-index: 0; 
                left: 0;
                .ms-ChoiceField {
                    margin-top: 5px;
                    font-size: 16px;
                }             
            }
            .user-password {
                position: absolute;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                top: 195px;
                /* width: 100%; */
                left: 3.75%;
                height: 400px;
                .ms-TextField-errorMessage {
                    padding: 1px 0 1px 0;
                    float: left;
                    z-index: 10;
                }
                .userName {
                    display: flex;
                    flex-direction: row;
                    .userNameLabel {
                        /* width: 90px; */
                        /* display: inline-block; */
                        font-weight: bold;
                        /* float: left; */
                        margin-top: 10px;
                        /* text-align: left; */
                        padding-left: 8px;
                    }
                    .ms-TextField {
                        width: 225px;
                        float: left;
                        margin-left: 5px;
                        .ms-TextField-field {
                            color: #0078D4;
                        }
                    }
                    .ms-TextField--underlined.is-active {
                        border-color: rgb(33, 33, 33);
                    }
                }
                .password {
                    display: flex;
                    margin-top: 5px;
                    flex-direction: row;
                    .passwordLabel {
                        float: left;
                        font-weight: bold;
                        text-align: left;
                        padding-left: 8px;
                        margin-top: 2px;
                        white-space: nowrap;
                    }
                    .ms-TextField-fieldGroup {
                        height: 22px;
                    }
                    .ms-TextField {
                        width: 100%;
                       .ms-TextField-field {
                            color: #0078D4;
                            z-index: 0;
                        }
                    }
                    .ms-TextField--underlined.is-active {
                        border-color: rgb(33, 33, 33);
                    }
                }
            }
        }
        .close {
            position: absolute;
            right: 32px;
            top: 32px;
            width: 20px;
            height: 20px;
            opacity: 0.3;
            cursor: pointer;
        }
        .close:hover {
        opacity: 1;
        }
        .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 20px;
        width: 2px;
        background-color: #333;
        }
        .close:before {
        transform: rotate(45deg);
        }
        .close:after {
        transform: rotate(-45deg);
        }   
        .back {
            position: absolute;
            top: 31px;
            left: 32px;
            cursor: pointer;
            .ms-Icon--Back {
                color: #333;
                opacity: 0.4;
            }
            .ms-Icon--Back:hover {
                opacity: 1;
            }
        }
        .OKBtn {
            cursor: pointer;
            position: fixed;
            bottom: 40px;
            right: 40px;
            color: white;
            border: none;
            background: #C5D2DD;
            width: 110px;
            height: 36px;
            .ms-Button-label {
                padding-bottom: 2px;
            }
        }
        .OKBtn-enabled {
            cursor: pointer;
            position: fixed;
            bottom: 40px;
            right: 40px;
            color: white;
            border: none;
            background: #0078D4;
            width: 110px;
            height: 36px;
            .ms-Button-label {
                padding-bottom: 2px;
            }
        }
    }
}