.window-wrapper {
    margin: 0;
    background: white; 
    width: 100%;
    min-height: 100%;
    overflow-y: hidden; // hide vertical
    overflow-x: hidden; // hide horizontal
}
.container {
    height: 100%;
    transition: opacity .5s;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
.image {
    background: url('../../styles/img/success.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 130px;
    width: 236px;
    margin: 0 auto;
    margin-top: 30px;
}
.footerContainer {
    margin: 96px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    transform: translate(-50%, -50%);
    align-items: center;
    left: 50%;
    height: 100%;
    transition: opacity .5s;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
.successButton {
    cursor: pointer;
    background-color: white;
    font-size: 14px;
    color: #0078D4;
    border-color: #0078D4 !important;
    width: auto;
    height: 39px;
    clear: both;
    display: block;
}
.successButton:hover {
    background-color: #0078D4;
    color: white;
}
.successLink {
    color: #0078D4;
    font-size: 16px;
    clear: both;
    margin-top: 30px;
    .ms-Button-label {
        margin: 0 0 0 30px;
    }
    .ms-Button-textContainer {
        font-weight: 600;
    }
    .successLinkContainer {
        .successLinkImage {
            background-repeat: no-repeat;
            width: 29px;
            height: 19px;
            background: url('../../styles/img/play_blue.svg');
            float: left;
            margin-bottom: 5px;
        }
        .successLinkText {
            float: right;
            margin-bottom: 5px;
            margin-left: 8px;
        }
    }
}
.successLink:hover {
    .successLinkText {
        border-bottom: 1px solid #0078D4;
    } 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}